/*
Theme Name: Spiko Dark
Theme URI: https://spicethemes.com/spiko-dark-wordpress-theme/
Author: spicethemes
Author URI: https://spicethemes.com
Description: Spiko Dark theme is a lightweight, elegant, fully responsive, and translation-ready theme that allows you to create stunning blogs and websites. The theme is well suited for companies, law firms, eCommerce, finance, agency, travel, photography, design, arts, personal, and any other creative websites and blogs. The theme is developed using the Bootstrap 4 framework. It comes with a predesigned home page, good-looking header designs, and a number of content sections that you can easily customize. It also has lots of customization options (banner, services, testimonial, etc) that will help you create a beautiful, unique website in a short time. The theme is compatible with popular plugins like Polylang, WooCommerce and Contact Form 7. Spiko Dark theme is available in several locales. (DEMO: https://spiko-dark.spicethemes.com/)
Template: spiko
Tags: one-column, two-columns, right-sidebar, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, sticky-post, threaded-comments, translation-ready, rtl-language-support
Version: 1.1.1
Requires at least: 4.5
Tested up to: 6.2
Requires PHP: 5.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: spiko-dark
*/

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}